@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.report {
  display: flex;
  height: 50px;

  a {
    display: flex;
    align-items: center;
    margin: 0 auto;
    color: #333;
    font-weight: 400;

    &:hover,
    :focus {
      font-weight: 600;
    }
  }
}

#model-s {
  background: url("/images/model-s.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;

  .navbar-top__logo {
    display: flex;
    height: 50px;
    width: 357px;
    align-items: center;
    backdrop-filter: blur(5px);
    margin-left: 36px;
    // margin-right: 235px;

    img {
      width: 150px;
      overflow: hidden;
    }
  }

  .navbar-top__link-container-left {
    display: flex;
    align-items: center;

    ul {
      display: flex;
      padding: 0;
    }

    li {
      list-style-type: none;
      padding: 5px 15px;
      transition: all 500ms ease-out;

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 12px;
      }

      a {
        text-decoration: none;
        color: #333;
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
}

.navbar-top__link-container-right {
  display: flex;
  align-items: center;
  margin-right: 36px;

  ul {
    display: flex;
    padding: 0;
  }

  li {
    list-style-type: none;
    padding: 5px 15px;
    transition: all 500ms ease-out;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
      border-radius: 12px;
    }

    a {
      text-decoration: none;
      color: #333;
      font-size: 14px;
      font-weight: 600;
    }
  }
}
