@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.report {
  display: flex;
  height: 50px;

  a {
    display: flex;
    align-items: center;
    margin: 0 auto;
    color: #171a20;
    font-weight: 400;

    &:hover,
    :focus {
      font-weight: 600;
    }
  }
}

#model-s {
  background: url("/images/model-s.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;

  .navbar-top__logo {
    display: flex;
    height: 50px;
    align-items: center;
    backdrop-filter: blur(5px);
    margin-left: 36px;
    // margin-right: 235px;

    img {
      width: 150px;
      overflow: hidden;
    }
  }

  .navbar-top__link-container-left {
    display: flex;
    align-items: center;
    margin-left: 72px;

    ul {
      display: flex;
      padding: 0 8px;
    }

    li {
      list-style-type: none;
      padding: 4px 8px;
      transition: all 500ms ease-out;

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 12px;
      }

      a {
        text-decoration: none;
        color: #171a20;
        font-size: 14px;
        font-weight: 600;
        margin: 0 8px;
        letter-spacing: 0.3;
      }
    }
  }
}

.navbar-top__link-container-right {
  display: flex;
  align-items: center;
  margin-right: 36px;

  ul {
    display: flex;
    padding: 0;
  }

  li {
    list-style-type: none;
    padding: 5px 15px;
    transition: all 500ms ease-out;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
      border-radius: 12px;
    }

    a {
      text-decoration: none;
      color: #171a20;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.3;
    }
  }
}

// MAIN CONTENT

.container-main {
  display: flex;
  text-align: center;
  justify-content: center;

  .description-top {
    top: 18%;

    h1 {
      font-size: 40px;
      font-weight: 600;
      margin-top: 15px;
      margin-bottom: 10px;
      letter-spacing: 1.4;
      color: #171a20;
    }

    p {
      margin: 0;
      font-size: 17px;
      font-weight: 500;
      letter-spacing: 0.3;
      color: #171a20;
    }
  }
}

.description-bottom {
  position: fixed;
  bottom: 35px;
  display: flex;

  .description-bottom__info {
    display: flex;
    align-items: center;
  }

  div {
    margin: 0 30px;
    padding: 10px;

    h4 {
      color: white;
      letter-spacing: 0.5;
      font-size: 28px;
      font-weight: 600;
      margin: 0;
    }

    p {
      color: white;
      font-size: 12px;
      margin: 5px 0;
    }
  }

  .description-bottom__button {
    position: relative;
    padding: 10px 60px;
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: 500;
    border: 3px solid white;
    border-radius: 25px;
    top: -5px;

    &:hover {
      background-color: white;
      color: #171a20;
      font-weight: 600;
      border: 2px solid white;
    }
  }
}

// HELPER CLASSES

.in-middle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

// MEDIA QUERIES

@media only screen and (max-width: 1300px) {
  .navbar-top__link-container-left {
    visibility: hidden;
  }

  .description-bottom {
    visibility: hidden;
  }
}
