@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.report {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
}

.report a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  color: #171a20;
  font-weight: 400;
}

.report a:hover,
.report a :focus {
  font-weight: 600;
}

#model-s {
  background: url("/images/model-s.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.navbar-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.navbar-top .navbar-top__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  margin-left: 36px;
}

.navbar-top .navbar-top__logo img {
  width: 150px;
  overflow: hidden;
}

.navbar-top .navbar-top__link-container-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 72px;
}

.navbar-top .navbar-top__link-container-left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 8px;
}

.navbar-top .navbar-top__link-container-left li {
  list-style-type: none;
  padding: 4px 8px;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.navbar-top .navbar-top__link-container-left li:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}

.navbar-top .navbar-top__link-container-left li a {
  text-decoration: none;
  color: #171a20;
  font-size: 14px;
  font-weight: 600;
  margin: 0 8px;
  letter-spacing: 0.3;
}

.navbar-top__link-container-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 36px;
}

.navbar-top__link-container-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.navbar-top__link-container-right li {
  list-style-type: none;
  padding: 5px 15px;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.navbar-top__link-container-right li:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}

.navbar-top__link-container-right li a {
  text-decoration: none;
  color: #171a20;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.3;
}

.container-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-main .description {
  top: 18%;
}

.container-main .description h1 {
  font-size: 40px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 10px;
  letter-spacing: 1.4;
  color: #171a20;
}

.container-main .description p {
  margin: 0;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.3;
  color: #171a20;
}

.in-middle {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
/*# sourceMappingURL=style.css.map */